// Base Colour

// Var names and their assigned hex are taken directly out of the Pure brand guidelines*, available in all good book shops... (or on Drive, whatever)

// * The guidelines don't actually quote the hex, they quote RGB. The hex codes below are derived from RGB.

// Primary Palette
$pink: #EE4491;
$yellow: #FCF200;
$sky-blue: #49C3F1;
$grey: #58595B;

// Secondary Palette
$mid-blue: #056EB7;
$dark-blue: #262B66;
$mid-grey: #A5A5A4;
$dark-pink: #9A2B77;
$dark-red: #680D3A;

// Tint Palette
$mid-blue-1: #82B6DB;
$mid-blue-2: #C0DAEC;

$dark-blue-1: #9295B2;
$dark-blue-2: #C8C9D8;

$mid-grey-1: #D2D2D1;
$mid-grey-2: #E8E8E8;

$dark-pink-1: #CC95BB;
$dark-pink-2: #E5C9DC;

$dark-red-1: #B3869C;
$dark-red-2: #D9C2CD;


$white: #fff;
$black: #000;
